div#app:empty::before {
	content: "" !important;
}

.sidebar-toggle span {
	background-color: var(--theme-color);
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
	&,
	* {
		color: var(--theme-color);
	}
	font-weight: 600;
}

.sidebar,
.sidebar-toggle,
body {
	background-color: var(--bg-color);
}
.sidebar,
.sidebar ul li a,
.content {
	color: var(--text-color);
}

.content {
	ul,
	p {
		line-height: var(--line-height);
	}
}

.section-link {
	font-size: var(--font-size);
}

.app-name {
	margin-bottom: 1.5rem !important;
}

.sidebar > h1 {
	text-align: left;
	margin: 0 0 0 15px;
}

.markdown-section hr {
	border-bottom: 1px solid #324c66;
}

.sidebar-nav a[target="_blank"] {
	&::after {
		content: "🔗";
		fill: white;
		font-size: 0.8rem;
		margin-left: 0.5rem;
	}
}

.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
	background-color: transparent;
}
