@import url(https://fonts.bunny.net/css?family=figtree:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|ubuntu-mono:400,400i,700,700i);

body {
	font-family: "Figtree", sans-serif;
	font-family: "Ubuntu Mono", monospace;
	font-size: 18px;
}
