.history-list {
	position: relative;
	.history-list__item {
		position: relative;
		@apply pb-12;
		&::before {
			content: "";
			background-color: var(--color-slate-500);
			width: 4px;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-30px);
		}

		&:last-child {
			&::before {
				background: linear-gradient(
					to bottom,
					var(--color-slate-600),
					transparent
				);
			}
		}

		&::after {
			content: "";
			width: 2rem;
			height: 2rem;

			background-color: var(--color-sky-50);
			border-radius: 100%;
			border: 4px solid var(--color-slate-600);

			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(calc(-50% + -28px));
			transform-origin: center;
		}

		@media screen and (min-width: 90rem) {
			&::before {
				transform: translate(-50px);
			}
			&::after {
				transform: translate(calc(-50% + -48px));
			}
		}
	}
}
