.wave-emoji,
.wave-emoji:hover svg {
	animation: wave 1.2s ease-out forwards;
}
.wave-emoji:hover svg {
	animation: wave 1.2s ease-out;
}
@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
