.coverpage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 1;
	color: white;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

canvas {
	width: 100%;
	height: 100%;
}
