.fade-in {
  opacity: 0;
  transition: opacity 450ms ease-in;
}

.appear {
  opacity: 1;
}

.nav-bar {
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}

.nav-bar.remove {
  top: -150px;
  left: 0;
}

.anim {
  position: absolute;
}

.canvas {
  transform: rotateZ(-90deg);
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
}

.body {
  height: 100%;
  transform: rotateY(180deg);
}

.piece {
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
  opacity: 0;
  z-index: 2;
}
