.fade-in {
  opacity: 0;
  transition: opacity 450ms ease-in;
}

.appear {
  opacity: 1;
}

.nav {
  transition: all 0.3s ease;
  top: 0;
  left: 0;
}

.nav.remove {
  top: -150px;
  left: 0;
}

.piece {
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
  opacity: 0;
  z-index: 2;
}

.piece,
.body {
  transform: rotateY(180deg) scale(0.5);
}
