.nav__icon--bars {
  width: 3rem;
  height: 3rem;
  padding: 10px;
  border-radius: 10%;
  transition: 0.3s;
}

.nav__icon--bars:hover {
  width: 3.5rem;
  height: 3.5rem;
  padding: 4px;
  border-radius: 100%;
  transition: 0.8s;
}

.article__side-link {
  height: 100%;
  width: 2.5rem;
  fill: var(--text-grey);
  background-color: var(--text-main);
  transition: 0.3s;
}

.article__side-link:hover {
  width: 3.5rem;
  transition: 0.3s;
}

.article__side-link,
.nav__icon--bars {
  fill: var(--text-grey);
  background-color: var(--text-main);
}

.article__side-link:hover,
.nav__icon--bars:hover,
.footer__icon--twitter:hover {
  background-color: var(--col-dark);
  fill: var(--btn-main);
}

@media screen and (max-width: 400px) {
  .article__side-link {
    display: none;
  }
}

.footer__icon--twitter {
  width: 3rem;
  height: 3rem;
  padding: 10px;
  border-radius: 10%;
  transition: 0.3s;
}


.footer__icon--twitter{
  background-color: var(--text-grey);
  color: var(--text-main);
  transition: 1s;
}

.footer__icon--twitter:hover {
  transition: 0.3s;
}
