.tabs {
  button {
    font-size: 0.8rem;
    padding: 1rem;
    background-color: $shade;
    border: none;
    cursor: pointer;
    transition: color 1s;
    &:hover {
      color: $btn-green;
    }
    &:focus {
      outline: none;
    }
  }
}

.tab {
  color: $green;
}

.current {
  color: $btn-green;
}

.fill {
  color: $green;
  width: 150px;
  display: block;
  padding: 1rem;
  margin: 10px;
  border: 1px solid $green;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, $btn-green 50%)
    right;
  background-size: 210%;
  transition: 0.6s ease-out;
  &:hover {
    background-position: left;
    border-color: $btn-green;
    color: black;
  }
}

.fill-right {
  @extend .fill;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, $btn-green 50%) left;
  background-size: 210%;
  transition: 0.6s ease-out;
  &:hover {
    background-position: right;
  }
}

@media screen and (max-width: 700px) {
  .fill {
    max-width: 95px;
  }
}
