.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px white solid;
  max-width: 350px;

  .card {
    position: relative;
    border: 1px solid white;
    &_img {
      width: 100%;
    }
    div {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
