.contact-container {
  display: flex;
  justify-content: center;
  .column {
    padding: 2rem;
    justify-content: space-evenly;
    background-color: $shade;
  }
  .contact_info {
    &_name {
      font-size: 1.5rem;
      color: $yellow;
    }
    &_tag {
      font-size: 1.2;
      margin-top: 1rem;
      color: $green;
    }
    &_details {
      margin-top: 1.2rem;
      li {
        color: white;
        margin-top: 1rem;
      }
    }
  }

  .social_container {
    width: 100%;
    margin-top: 1rem;
    .social_link {
      svg {
        fill: $green;
        max-width: 35px;
        transition: fill 1s;
        margin-right: 1rem;
        &:hover {
          fill: $btn-green;
        }
      }
    }
  }
}

.profile_img {
  max-width: 245px;
  margin: auto;
}

.about {
  padding: 1rem;
  color: $yellow;
  background-color: $shade;
  max-width: 600px;
  p {
    width: 100%;
    font-size: 1.2;
    line-height: 1.2;
    margin-top: 1.1rem;
    text-align: justify;
  }

  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 650px) {
  .contact-container {
    flex-direction: column;
    width: 100%;
    margin: auto;
    .column {
      justify-content: center;
      text-align: center;
    }
  }

  .about_btn {
    width: 200px;
    margin: auto;
    margin-top: 2rem;
  }

  .social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 35px;
    }
  }
}
