.contact {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;

  .column {
    padding: 2rem;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_name {
    // border: 1px solid $red;
    color: white;

    h5 {
      font-size: 1.5rem;
      color: $yellow;
    }

    h6 {
      font-size: 1.2;
      margin-top: 1rem;
      color: $green;
    }
  }

  .details {
    margin-top: 1rem;
    li {
      color: white;
      margin-top: 1rem;
    }
  }

  .social {
    margin-top: 1rem;
    &_link {
      svg {
        max-width: 35px;
        transition: fill 1s;
        margin-right: 1rem;
        &:hover {
          fill: $btn-green;
        }
      }
    }
  }
}

.contact_profile {
  max-width: 245px;
}
