.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .column {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $shade;
  }

  &_name {
    // border: 1px solid $red;
    color: white;

    h5 {
      font-size: 1.5rem;
      color: $yellow;
    }

    h6 {
      font-size: 1.2;
      margin-top: 1rem;
      color: $green;
    }
  }

  .details {
    margin-top: 1rem;
    li {
      color: white;
      margin-top: 1rem;
    }
  }

  .social_container {
    margin-top: 1rem;
    .social_link {
      svg {
        fill: $green;
        max-width: 35px;
        transition: fill 1s;
        margin-right: 1rem;
        &:hover {
          fill: $btn-green;
        }
      }
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  flex-flow: row;
}
.tabs {
  display: flex;
  flex-direction: column;
  button {
    font-size: 0.8rem;
    padding: 1rem;
    background-color: $shade;
    border: none;
    cursor: pointer;
    transition: color 1s;
    &:hover {
      color: $btn-green;
    }
  }
}
.tab {
  color: $green;
}

.current {
  color: $btn-green;
}

@media (max-width: 650px) {
  .contact-container {
    flex-direction: column;
  }
  .tabs {
    flex-direction: row;
  }

  .contact {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .column {
    justify-content: center;
    text-align: center;
  }
  .social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 35px;
    }
  }
}

.contact_profile {
  max-width: 245px;
  margin: auto;
}
