@font-face {
  font-family: "fun";
  font-weight: normal;
  src: url(
    ./Advent_Pro,
    Amatic_SC,
    Permanent_Marker/Permanent_Marker/PermanentMarker-Regular.ttf
  );
}
@font-face {
  font-family: "experimental";
  font-weight: normal;
  src: url(
    Advent_Pro,
    Amatic_SC,
    Permanent_Marker/Amatic_SC/AmaticSC-Regular.ttf
  );
}

@font-face {
  font-family: "honest";
  font-weight: normal;
  src: url(
      ./Advent_Pro,
      Amatic_SC,
      Permanent_Marker/Amatic_SC/AmaticSC-Bold.ttf
    )
    format("opentype");
}

@font-face {
  font-family: "new-type";
  font-weight: normal;
  src: url(./Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

* {
  font-family: "new-type", "Courier New", monospace;
  font-weight: 200;
}

@media screen and (max-width: 560px) {
  .nav-bar-container h1 {
    font-size: 1.5rem;
  }
}

.nav-bar-container h1 {
  font-size: 2rem;
  text-decoration: underline;
}

article h1 {
  font-size: 3em;
}

article h2 {
  font-weight: normal;
  font-size: 2em;
  font-style: italic;
}

article p {
  font-size: var(--post-size-1);
  font-weight: var(--post-weight-1);
}

.manifesto h3 {
  font-style: italic;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: 500;
}
.honest {
  font-family: "honest";
  font-size: 2em;
  /* text-decoration: underline; */
}

.fun {
  font-family: "fun";
  font-size: 1.7em;
}

.experimental {
  font-family: "experimental";
  font-size: 2.3em;
}
