.hero {
  background-color: $shade;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  justify-self: flex-start;

  .links__container {
    background-color: $shade;
    opacity: 0;
    color: white;
    font-size: 2.2rem;
    padding: 1rem;
    min-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
