.hero {
  position: relative;
  // text-align: center;
  color: white;

  &_img {
    width: 100%;
  }

  .links__container {
    font-family: "Advent Pro", sans-serif;
    background: #0000009b;
    color: $yellow;
    display: flex;
    flex-direction: column;
    padding: 5rem;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    .link {
      text-decoration: underline;
      padding: 1rem;
      font-size: 2rem;

      &:hover {
        transition: color 1s;
      }

      &:nth-child(1) {
        margin-left: 1vw;
        transition: margin 0.5s;
      }
      &:nth-child(1):hover {
        margin-left: 2vw;
        color: $red;
      }
      &:nth-child(2) {
        margin-left: 3vw;
        transition: margin 1s;
      }
      &:nth-child(2):hover {
        margin-left: 4vw;
        color: $blue;
      }
      &:nth-child(3) {
        margin-left: 5vw;
        transition: margin 1.5s;
      }
      &:nth-child(3):hover {
        margin-left: 6vw;
        color: $btn-green;
      }
    }
  }
}

@media screen and (max-width: 605px) {
  .hero__text {
    font-size: 5vw;
  }
}
