.nav-bar {
  z-index: 2;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: $yellow;
}

.nav__logo {
  font-size: 2rem;
  margin-right: auto;

  &:hover {
    text-decoration: underline;
  }
}

.nav-mol {
  .nav__link {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 5vw;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav__menu {
  display: none;
}
