.nav-bar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  background-color: $yellow;
}

.nav__logo {
  font-size: 2rem;
  margin-right: auto;

  &:hover {
    text-decoration: underline;
  }
}
@media (max-width: 400px) {
  .nav-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-mol {
    display: none;
  }

  .nav__logo {
    font-size: 1.2rem;
  }
}
.nav-mol .nav__link {
  margin-right: 1.5rem;
  display: inline-block;
}

.nav__link {
  font-size: 1.125rem;
  list-style: none;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
