.card {
  &_project {
    margin-bottom: 2rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;

    .right {
      text-align: right;
    }
    .column {
      padding: 10px;
      max-width: 401px;
    }

    p {
      line-height: 1.4rem;
    }

    .tags {
      padding: 1rem 0;
      font-size: 1.2rem;
      color: $green;
      li {
        display: inline;
        margin-right: 20px;
      }
    }
    .links__container {
      display: flex;
      flex-direction: column;
      color: $green;
      width: 300px;

      li {
        .fill {
          display: block;
          margin-bottom: 1.2rem;
          padding: 1rem;
          border: 1px solid $green;
          background: linear-gradient(
              -45deg,
              rgba(0, 0, 0, 0) 50%,
              $btn-green 50%
            )
            right;
          background-size: 210%;
          transition: 0.6s ease-out;
          // transition: color 0.3s, border-color 0.3s;
          &:hover {
            background-position: left;
            border-color: $btn-green;
            color: black;
          }
        }

        .fill-right {
          @extend .fill;
          background: linear-gradient(
              45deg,
              rgba(0, 0, 0, 0) 50%,
              $btn-green 50%
            )
            left;
          background-size: 210%;
          transition: 0.6s ease-out;
          &:hover {
            background-position: right;
          }
        }
      }
    }
    .title {
      color: $yellow;
      font-size: 3rem;
      margin: 0 auto;
      cursor: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    .right {
      text-align: center;
    }
    &_project {
      .links__container {
        width: 75%;
      }
    }
  }
  .card:nth-of-type(2n + 1) {
    flex-direction: column;
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 1;
    }
    .column {
      padding: 1rem;
      margin: auto;
    }
  }
}
