.project_img {
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
  border-radius: 10px;
  &--border {
    @extend .project_img;
    border: 5px solid white;
  }
}

.card_project {
  @extend .card;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-around;

  &_title {
    color: $yellow;
    font-size: 3rem;
    margin: 0 auto;
    cursor: auto;
  }
  &_tags {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: $green;
    li {
      display: inline;
      margin-right: 20px;
    }

    p {
      line-height: 1.4rem;
    }
  }
  .column {
    padding: 10px;
    max-width: 401px;
  }
  .links_container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .card_project {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
    text-align: center;
  }
  .card:nth-of-type(2n + 1) {
    flex-direction: column;
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 1;
    }
  }

  .column {
    p {
      text-align: justify;
    }
  }
}
