html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

$shade: #00000066;
$text-main: #333;
$grey: #777;
$btn-green: #59ff75;

$red: #ff4b73;
$blue: #00edff;
$yellow: #f9dc5c;
$green: #c2eabd;
$pink: #fb8d80;
$dark: #07788b;
