.skills_ {
  &container {
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 2rem;
    // border-radius: 10%;

    ul > li {
      color: $green;
      margin-top: 0.5rem;
    }
  }
  &title {
    color: $yellow;
    font-size: 1.2rem;
    padding: 0.7rem;
    margin: 0 auto;
  }
}
