.title_ {
  &contact {
    font-family: "Gothic A1", sans-serif;
    cursor: pointer;
    opacity: 1;
    font-size: 7rem;
    position: sticky;
    padding: 1rem;
    color: white;
    bottom: 0;
  }

  &skills {
    @extend .title_contact;
    position: relative;
    opacity: 0;
  }
}

@media screen and (max-width: 620px) {
  .title_contact {
    font-size: 5rem;
  }
}
