.title {
  font-family: "Gothic A1", sans-serif;
  cursor: pointer;
  opacity: 1;
  font-size: 7rem;
  position: relative;
  padding: 1rem;
  color: white;
  bottom: 0;
}

#title_contact {
  position: sticky;
}

@media screen and (max-width: 620px) {
  .title_contact {
    font-size: 5rem;
  }
}
