.section_title {
  font-family: "Gothic A1", sans-serif;
  margin: 1.2rem;
  margin-left: 2vw;
  cursor: pointer;
  font-size: 4rem;
  position: relative;
  color: white;
  &--first {
    @extend .section_title;
    margin-top: 2000px;
  }
}

@media screen and (max-width: 620px) {
  .title_contact {
    font-size: 5rem;
  }
}
