@import "fonts";

@media screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (max-width: 350px) {
  :root {
    font-size: 10px;
  }
}

* {
  font-family: "Work Sans", sans-serif;
  color: $text-main;
  p {
    // letter-spacing: 1px;
    line-height: 1.5rem;
  }
}
