@import "reset";
@import "settings";
@import "typography";
@import "nav";
@import "cards";
@import "buttons";
@import "headers";
@import "footer";
@import "contact";
@import "skills";

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-wrapper {
  background-color: black;
}

.main_elem {
  opacity: 0;
  position: relative;
  padding: 1rem;
  background-color: $shade;
  margin: 5rem 1rem;
  h3 {
    color: $btn-green;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
