@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Work+Sans:ital,wght@1,300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
q b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit; }

a,
a:visited,
a:hover {
  color: inherit;
  font-family: inherit;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

p {
  color: inherit; }

html,
body {
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

.right {
  text-align: right; }

.hide {
  display: none !important; }

.card, .card_project {
  display: flex;
  align-items: center;
  background-color: #00000066;
  padding: 2rem;
  border: 1px solid grey;
  color: white; }

.column {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 600px) {
  :root {
    font-size: 16px; } }

@media screen and (max-width: 450px) {
  :root {
    font-size: 14px; } }

@media screen and (max-width: 400px) {
  :root {
    font-size: 13px; } }

@media screen and (max-width: 350px) {
  :root {
    font-size: 10px; } }

* {
  font-family: "Work Sans", sans-serif;
  color: #333; }

.nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: #f9dc5c; }

.nav_title_container {
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap; }

.nav_title_container h1 {
  font-size: 1.3rem; }

.nav_title_container h1:hover {
  text-decoration: underline; }

.nav_title_container .nav__tag {
  margin-left: 1vw;
  color: #333;
  margin-right: auto; }

.nav_links_container .nav__link {
  display: inline-block;
  margin-right: 2vw; }

.nav_links_container .nav__link:hover {
  text-decoration: underline; }

.tabs button {
  font-size: 0.8rem;
  padding: 1rem;
  background-color: #00000066;
  border: none;
  cursor: pointer;
  transition: color 1s; }

.tabs button:hover {
  color: #59ff75; }

.tabs button:focus {
  outline: none; }

.tab {
  color: #c2eabd; }

.current {
  color: #59ff75; }

.fill, .fill-right {
  cursor: pointer;
  color: #c2eabd;
  width: 150px;
  display: block;
  padding: 1rem;
  margin: 10px;
  border: 1px solid #c2eabd;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, #59ff75 50%) right;
  background-size: 210%;
  transition: 0.6s ease-out; }

.fill:hover, .fill-right:hover {
  background-position: left;
  border-color: #59ff75;
  color: black; }

.fill-right {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #59ff75 50%) left;
  background-size: 210%;
  transition: 0.6s ease-out; }

.fill-right:hover {
  background-position: right; }

@media screen and (max-width: 700px) {
  .fill, .fill-right {
    max-width: 95px; } }

.bg_img {
  background-color: #00000066;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  justify-self: flex-start; }

.hero {
  position: fixed;
  background-color: #00000066;
  opacity: 0;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; }

.hero .canvas {
  transform: rotateZ(-90deg);
  display: inline-block;
  margin: auto; }

.contact-container {
  display: flex;
  justify-content: center; }

.contact-container .column {
  padding: 2rem;
  justify-content: space-evenly;
  background-color: #00000066; }

.contact-container .contact_info_name {
  font-size: 1.5rem;
  color: #f9dc5c; }

.contact-container .contact_info_tag {
  font-size: 1.2;
  margin-top: 1rem;
  color: #c2eabd; }

.contact-container .contact_info_details {
  margin-top: 1.2rem; }

.contact-container .contact_info_details li {
  color: white;
  margin-top: 1rem; }

.contact-container .social_container {
  width: 100%;
  margin-top: 1rem; }

.contact-container .social_container .social_link svg {
  fill: #c2eabd;
  max-width: 35px;
  transition: fill 1s;
  margin-right: 1rem; }

.contact-container .social_container .social_link svg:hover {
  fill: #59ff75; }

.profile_img {
  max-width: 245px;
  margin: auto; }

.about {
  padding: 1rem;
  color: #f9dc5c;
  background-color: #00000066;
  max-width: 600px; }

.about p {
  width: 100%;
  font-size: 1.2;
  line-height: 1.2;
  margin-top: 1.1rem;
  text-align: justify; }

.about a {
  color: #00edff; }

.about a:hover {
  text-decoration: underline; }

@media (max-width: 650px) {
  .contact-container {
    flex-direction: column;
    width: 100%;
    margin: auto; }
  .contact-container .column {
    justify-content: center;
    text-align: center; }
  .about_btn {
    width: 200px;
    margin: auto;
    margin-top: 2rem; }
  .social_container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social_container svg {
    width: 35px; } }

.card_skills {
  flex-direction: column; }

.card_skills ul > li {
  margin-top: 1rem; }

.card_skills .title {
  color: #c2eabd;
  font-size: 1.2rem;
  padding: 0.7rem;
  margin: 0 auto; }

.card_skills svg {
  margin: auto;
  max-width: 75px;
  fill: #c2eabd;
  margin-bottom: 1rem; }

.section_title, .section_title--first {
  font-family: "Gothic A1", sans-serif;
  margin: 1.2rem;
  margin-left: 2vw;
  cursor: pointer;
  font-size: 4rem;
  position: relative;
  color: white; }

.section_title--first {
  margin-top: 2000px; }

@media screen and (max-width: 620px) {
  .title_contact {
    font-size: 5rem; } }

.project_img, .project_img--border {
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
  border-radius: 10px; }

.project_img--border {
  border: 5px solid white; }

.card_project {
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-around; }

.card_project_title {
  color: #f9dc5c;
  font-size: 3rem;
  margin: 0 auto;
  cursor: auto; }

.card_project_tags {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #c2eabd; }

.card_project_tags li {
  display: inline;
  margin-right: 20px; }

.card_project_tags p {
  line-height: 1.4rem; }

.card_project .column {
  padding: 10px;
  max-width: 401px; }

.card_project .links_container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%; }

@media screen and (max-width: 700px) {
  .card_project {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
    text-align: center; }
  .card:nth-of-type(2n + 1), .card_project:nth-of-type(2n + 1) {
    flex-direction: column; }
  .card:nth-of-type(2n + 1):nth-child(1), .card_project:nth-of-type(2n + 1):nth-child(1) {
    order: 3; }
  .card:nth-of-type(2n + 1):nth-child(2), .card_project:nth-of-type(2n + 1):nth-child(2) {
    order: 1; }
  .column p {
    text-align: justify; } }

.fade-in {
  opacity: 0;
  transition: opacity 450ms ease-in; }

.appear {
  opacity: 1; }

.nav {
  transition: all 0.3s ease;
  top: 0;
  left: 0; }

.nav.remove {
  top: -150px;
  left: 0; }

.piece {
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
  opacity: 0;
  z-index: 2; }

.piece,
.body {
  transform: rotateY(180deg) scale(0.5); }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.page-wrapper {
  background-color: black; }

.bg_img {
  width: 100%;
  height: 100vh;
  object-fit: cover; }

.main_elem, .main_elem--work {
  position: relative;
  padding: 1.5rem;
  background-color: #00000066;
  margin-bottom: 1rem; }

.main_elem--work {
  max-width: 1000px;
  margin: auto; }

.main_elem h3, .main_elem--work h3 {
  color: #59ff75;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

@media screen and (max-width: 600px) {
  .main_elem, .main_elem--work {
    margin-bottom: 1rem; } }
