* {
  box-sizing: border-box; }

:root {
  --text-main: #333;
  --text-grey: #777;
  --btn-main: #59ff75;
  --col-red: #ed254e;
  --col-yellow: #f9dc5c;
  --col-green: #c2eabd;
  --col-dark: #07788b; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a,
a:visited, a:hover {
  color: inherit;
  font-family: inherit;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav__bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--col-yellow); }

@media screen and (max-width: 650px) {
  .nav__bar {
    padding: 0.3rem; } }

.nav-mol .nav__link {
  margin-right: 1.5rem;
  display: inline-block; }

.nav__link {
  font-size: 1.125rem;
  list-style: none; }

.nav__link:hover {
  text-decoration: underline; }

.nav__logo {
  font-size: 2rem;
  font-family: var(--font-secondary);
  text-decoration: none;
  margin-right: auto; }

.nav__icon--search {
  max-width: 55px;
  max-height: 55px; }

.nav__icon--bars {
  display: none; }

@media screen and (max-width: 700px) {
  .nav__icon--search,
  .nav-mol {
    display: none; }
  .nav__icon--bars {
    display: block; }
  .nav__logo {
    font-size: 3vw; } }

@font-face {
  font-family: "new-type";
  font-weight: normal;
  src: url(./Roboto_Mono/RobotoMono-VariableFont_wght.ttf); }

* {
  font-family: 'Work Sans', sans-serif;
  color: var(--text-main);
  font-size: 1rem; }

.nav__icon--bars {
  width: 3rem;
  height: 3rem;
  padding: 10px;
  border-radius: 10%;
  transition: 0.3s; }

.nav__icon--bars:hover {
  width: 3.5rem;
  height: 3.5rem;
  padding: 4px;
  border-radius: 100%;
  transition: 0.8s; }

.article__side-link {
  height: 100%;
  width: 2.5rem;
  fill: var(--text-grey);
  background-color: var(--text-main);
  transition: 0.3s; }

.article__side-link:hover {
  width: 3.5rem;
  transition: 0.3s; }

.article__side-link,
.nav__icon--bars {
  fill: var(--text-grey);
  background-color: var(--text-main); }

.article__side-link:hover,
.nav__icon--bars:hover,
.footer__icon--twitter:hover {
  background-color: var(--col-dark);
  fill: var(--btn-main); }

@media screen and (max-width: 400px) {
  .article__side-link {
    display: none; } }

.footer__icon--twitter {
  width: 3rem;
  height: 3rem;
  padding: 10px;
  border-radius: 10%;
  transition: 0.3s; }

.footer__icon--twitter {
  background-color: var(--text-grey);
  color: var(--text-main);
  transition: 1s; }

.footer__icon--twitter:hover {
  transition: 0.3s; }

.hero {
  position: relative; }

.hero__img {
  z-index: -1;
  width: 100%; }

.hero__text {
  font-family: "Advent Pro", sans-serif;
  display: grid;
  flex-direction: column;
  font-size: calc(2vw + 20px);
  font-weight: bold;
  color: var(--col-yellow);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0%;
  left: 0%;
  top: 35%;
  padding: 1rem;
  z-index: 1;
  align-items: space-around; }

.hero__band {
  max-width: 50%;
  background: rgba(0, 0, 0, 0.8); }

.hero__text a {
  text-decoration: underline;
  padding: 1rem; }

.hero__text a:hover {
  transition: color 1s; }

.hero__text a:nth-child(1) {
  margin-left: 1vw;
  transition: margin 0.5s; }

.hero__text a:nth-child(1):hover {
  margin-left: 2vw;
  color: #ff4b73; }

.hero__text a:nth-child(2) {
  margin-left: 3vw;
  transition: margin 1s; }

.hero__text a:nth-child(2):hover {
  margin-left: 4vw;
  color: #00edff; }

.hero__text a:nth-child(3) {
  margin-left: 5vw;
  transition: margin 1.5s; }

.hero__text a:nth-child(3):hover {
  margin-left: 6vw;
  color: var(--btn-main); }

@media screen and (max-width: 605px) {
  .hero__text {
    font-size: 5vw; } }

.footer__container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--text-main);
  width: 100%;
  margin-top: 2rem; }

.footer__nav--link {
  color: var(--text-grey);
  text-decoration: underline;
  padding: 10px; }

.footer__headshot {
  max-width: 200px;
  height: auto;
  filter: saturate(0%); }

.page-wrapper,
.main-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }

.page-wrapper {
  max-width: 900px;
  background-color: black; }

.main-section__container {
  max-width: 700px;
  display: flex;
  flex-direction: column; }
