html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
q b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a,
a:visited,
a:hover {
  color: inherit;
  font-family: inherit;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  background-color: #f9dc5c; }

.nav__logo {
  font-size: 2rem;
  margin-right: auto; }

.nav__logo:hover {
  text-decoration: underline; }

@media (max-width: 400px) {
  .nav-bar {
    display: none; } }

@media (max-width: 600px) {
  .nav-mol {
    display: none; }
  .nav__logo {
    font-size: 1.2rem; } }

.nav-mol .nav__link {
  margin-right: 1.5rem;
  display: inline-block; }

.nav__link {
  font-size: 1.125rem;
  list-style: none;
  text-decoration: none; }

.nav__link:hover {
  text-decoration: underline; }

.grid_container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin: auto;
  margin-top: 2rem; }

.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  background-size: contain; }

.cards_container .card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 1rem; }

.cards_container .card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #59ff75; }

.cards_container .card .card_img {
  border: 2px solid #59ff75;
  border-radius: 100%;
  width: 235px;
  height: 235px;
  object-fit: cover; }

.cards_container .card .card_text {
  background-color: #333;
  padding: 2rem;
  margin-top: 1rem; }

.cards_container .card .card_text p {
  color: #999; }

.cards_container .card_tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.cards_container .card_tags_container li {
  display: inline-block;
  margin: 0.7rem;
  font-size: 0.8rem;
  color: #c2eabd; }

.cards_container .card_links_container {
  display: flex; }

.cards_container .card_links_container li {
  margin: 1rem;
  color: #f9dc5c; }

.cards_container .card_links_container li:hover {
  color: #59ff75; }

@media (max-width: 650px) {
  .cards_container {
    display: flex;
    flex-direction: column; }
  .card_tags_container {
    display: flex;
    flex-direction: column; } }

* {
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-size: 1rem; }

.cta {
  background-color: #f9dc5c;
  padding: 1rem; }

.cta:hover {
  text-decoration: underline; }

.hero {
  position: relative;
  color: white; }

.hero_img {
  width: 100%; }

.hero .links__container {
  font-family: "Advent Pro", sans-serif;
  background: #0000009b;
  color: #f9dc5c;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

.hero .links__container .link {
  text-decoration: underline;
  padding: 1rem;
  font-size: 2rem; }

.hero .links__container .link:hover {
  transition: color 1s; }

.hero .links__container .link:nth-child(1) {
  margin-left: 1vw;
  transition: margin 0.5s; }

.hero .links__container .link:nth-child(1):hover {
  margin-left: 2vw;
  color: #ff4b73; }

.hero .links__container .link:nth-child(2) {
  margin-left: 3vw;
  transition: margin 1s; }

.hero .links__container .link:nth-child(2):hover {
  margin-left: 4vw;
  color: #00edff; }

.hero .links__container .link:nth-child(3) {
  margin-left: 5vw;
  transition: margin 1.5s; }

.hero .links__container .link:nth-child(3):hover {
  margin-left: 6vw;
  color: #59ff75; }

@media screen and (max-width: 605px) {
  .hero__text {
    font-size: 5vw; } }

.footer__container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #333;
  width: 100%;
  margin-top: 2rem; }

.footer__nav--link {
  color: #777;
  text-decoration: underline;
  padding: 10px; }

.footer__headshot {
  max-width: 200px;
  height: auto;
  filter: saturate(0%); }

.contact_item {
  background-color: #444;
  padding: 1.2rem;
  color: #f9dc5c;
  width: 100%; }

.contact_item::before {
  content: "* ";
  margin-right: 2rem; }

.link:hover {
  color: #59ff75; }

@media (max-width: 550px) {
  .contact_container {
    display: flex;
    flex-direction: column; } }

.skills_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #444;
  padding: 2rem; }

.skills_container ul > li {
  color: #f9dc5c;
  margin-top: 1rem; }

.skills_title {
  color: #59ff75;
  font-size: 1.2rem;
  padding: 0.7rem;
  margin: 0 auto; }

svg {
  max-width: 95px;
  fill: #c2eabd;
  margin-bottom: 1rem; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }

.page-wrapper {
  max-width: 900px;
  background-color: black; }

.main_elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  margin: 2rem 1rem; }

.main_elem h3 {
  color: #59ff75;
  font-size: 1.5rem;
  margin-bottom: 1rem; }
