@import "reset";
@import "settings";
@import "nav";
@import "cards";
@import "typography";
@import "buttons";
@import "headers";
@import "footer";
@import "contact";
@import "skills";

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.page-wrapper {
  max-width: 900px;
  background-color: black;
}

.main_elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  margin: 2rem 1rem;
  h3 {
    color: $btn-green;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
